body {
  font-family:sans-serif;
  background-color: hsl(246, 96%, 50%);
  display: block;
  justify-content: center;
  align-items: center;
}
h1 {
  font-size: 20px;
  font-weight: 700;
  color: #111827;
  text-align: center;
}
h1:hover {
  color: #2563eb;
}
.portfolio-intro {
    background-color: #979ca1;
  border: 2px solid #0f0f0f;
    border-radius: 15px;
  text-align: center;
  margin: 20px 0;
  font-size: 25px;
  font-style: italic;
  font-family: Times New Roman;
}
#portfolio-container {
  display: flex;
  flex-direction: column;

  max-width: 600px;
  width: 100%;
}
.project-card {
  background-color: #b3b0b0;
  border-radius: 10px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 2rem;
  transition: transform 0.2s ease-in-out;
  margin: 10px ;
}
.project-card:hover {
  transform: translateY(-5px);
}
.project-card h2 {
  font-size: 25px;
  font-weight: 600;
  color: #0a0b0c;
  margin-bottom: 5px;
}
.project-card p {
  color: #06090e;
  margin-bottom: 5px;
}
.viewButton {
  margin: 10px;
  background-color: #2563eb;
  color: #ffffff;
  font-weight: 600;
  padding: 10px ;
  border-radius: 5px;
  transition: background-color 0.2s;
  cursor: pointer;
  border: none;
  text-decoration: none;
}
.viewButton:hover {
  background-color: #1d4ed8;
}
